<Configuration>
    <Appenders>
        <Console name="CONSOLE"/>
        <File name="LOG" fileName="target/tests.log" append="false"/>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="LOG"/>
        </Root>
    </Loggers>
</Configuration>